* {
    all: unset;
}

.l_bar {
    color: #ebdbb2;
    background-color: #282828;
    border-radius: 15;
    border: solid 1 #ebdbb2;
}
.c_bar {
    color: #ebdbb2;
    background-color: #282828;
    border-radius: 15;
    border: solid 1 #ebdbb2;
}
.r_bar {
    color: #ebdbb2;
    background-color: #282828;
    border-radius: 15;
    border: solid 1 #ebdbb2;
}

.text-module {
    margin: 10 10;
}